
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;

    &__title {
        width: 50%;
        font-size: 96px;
        color: $white;
        letter-spacing: 0.01em;
        font-weight: 900;
    }

    &__desc {
        width: 75%;
        margin-top: 30px;
        font-size: 28px;
        font-weight: 300;
        color: $white;
        opacity: 0.8;
    }
}

.proposition {
    display: flex;
    position: absolute;
    right: 0px;
    width: 570px;
    height: 400px;
    justify-content: flex-end;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(70px);
    border-radius: 16px 0px 0px 16px;


    &-content {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: flex-start;
        flex: 1;
        color: $white;
        padding: 48px 36px;

        &__label {
            font-size: 20px;
            opacity: 0.5;
        }

        &__title {
            font-size: 36px;
            width: 95%;
            line-height: 135%;
            padding-top: 36px;
            cursor: pointer;

            &:hover {
                opacity: 0.3;
            }
        }

        &___icon--arrow-right {
            position: absolute;
            bottom: 36px;
            background-image: url(../assets/img/icons/arrow-right.png);
            background-repeat: no-repeat;
            width: 43px;
            height: 14px; 
        }
    }

    &__img {
        background: url('../assets/img/up_next_img.png') no-repeat;
        height: 100%;
        width: 270px;
    }
}