/* icons classes */
.icon--place {
    display: block;
    background-image: url(../assets/img/icons/place.png);
    width: 21px;
    height: 21.85px;
    opacity: 0.5;
}

.icon--dropdown {
    display: block;
    background-image: url(../assets/img/icons/arrow-drop-down-line.png);
    width: 21px;
    height: 21.85px;
}

.icon--calendar {
    display: block;
    background-image: url(../assets/img/icons/calendar-line.png);
    width: 28px;
    height: 28px;
}

.icon--persons {
    display: block;
    background-image: url(../assets/img/icons/user.png);
    width: 28px;
    height: 28px;
}

footer {
    background: #ffffff26;
    backdrop-filter: blur(70px);
    border-radius: 20px 20px 0px 0px;
    width: 1344px;
    height: 200px;
    padding: 35px 48px 0px;
}

.footer__label {
    font-size: 18px;
    line-height: 21px;
    color: $white;
}

.vaction-search-form {
    display: flex;
    padding-top: 16px;
    justify-content: space-between;
}

.search-filter {
    display: flex;
    border: 1px solid $search-filter_border-color;
    border-radius: 10px;
    width: 80%;
    height: 72px;

    /* search-filter-accommodation__icon its container for ICON  */
    &__icon {
        align-items: center;
        display: flex;
        height: 100%;
        padding-left: 20px;

        &--right {
            position: absolute;
            right: 20px;
        }
    }

}

.search-filter-section {
    flex: 1;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;

    &__text {
        padding-left: 20px;

        &--left-separator {
            margin: 0px 20px;
            border-left: 1px solid $search-filter_border-color;
        }
    }

    &__label {
        font-size: 14px;
        line-height: 14px;
        color: #E7E7F2;
        opacity: 0.6;
    }

    &__title {
        font-size: 16px;
        line-height: 20px;
        color: $white;
        padding-top: 8px;
    }

    &:hover {
        opacity: 0.7;
    }

    &--left-separator {
        border-left: 1px solid $search-filter_border-color;
    }
}

.search-filter-accommodation {
    flex: 1.2;
}

.search__btn {
    font-size: 18px;
    color: #E7E7F2;
    height: 72px;
    width: 240px;
    text-align: center;
    line-height: 72px;
    background: #91CB82;
    border-radius: 10px;
    cursor: pointer;
}