
header {
    display: flex;
    height: 100px;
    border-bottom: 1px solid $header-border-color;
    align-items: center;
}

.header-navigation {
    flex: 1;

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__link {
        color: $white;
        font-size: 20px;
        cursor: pointer;
        transition: 0.3s;
    
        &:hover {
            opacity: 0.3;
            text-decoration: underline;
        }
    }
}

.header-logo {
    display: flex;
    justify-content: center;
    flex: 5;

    &__text {
        color: $white;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.01em;
        font-weight: 900;
    }
}
.header-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 0.5;

    &__icon--search {
        cursor: pointer;
        height: 24px;
        width: 24px;
        background-image: url(../assets/img/icons/search-icon.png);
        transition: 0.3s;

        &:hover {
            opacity: 0.3;
        }
    }
}