@media (max-width: 1370px) {

    .container {
        max-width: 90vw;
    }

    .content__title {
        width: 50%;
        font-size: 3rem;
        color: $white;
        letter-spacing: 0.01em;
        font-weight: 900;
    }

    footer {
        width: 90vw;
        padding: 35px 20px 0px;
    }
}

@media (max-width: 1024px) {
    .proposition {
        display: none;
    }

    .container {
        max-width: 100vw;
    }

    header {
        padding: 0px 15px;
    }
    .header-logo {
        flex: 1;
    }

    .header-button {
        flex: 0.3;
    }

    .content__title {
        width: 100vw;
        font-size: 4rem;
        color: $white;
        letter-spacing: 0.01em;
        font-weight: 900;
    }

    footer {
        width: 100vw;
        display: flex;
        flex-direction: column;
        background:#333;
        padding: 0px;
        height: 370px;
        justify-content: center;
        
    }

    .vaction-search-form {
        display: flex;
        padding-top: 16px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .search-filter {
        display: flex;
        border: 1px solid $search-filter_border-color;
        border-radius: 10px;
        width: 80%;
        height: auto;
        flex-direction: column;
    }

    .search-filter-section {
        flex: 1;
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;
        padding: 20px 0px;
    }

    .search-filter-section--left-separator {
        border: none;
    }

    .search__btn {
        margin-top: 10px;
    }

    .footer__label {
        text-align: center;
    }
} 

@media (max-width: 500px)  {
    header {
        display: flex;
        height: auto;
        border-bottom: 1px solid $header-border-color;
        align-items: center;
        flex-direction: column;
        padding: 10px 0px;
    }

    .header-navigation__list {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .header-navigation__item {
        padding: 10px 0px;
    }

    .content__title {
        font-size: 3rem;
        text-align: center;
    }

    .content__desc {
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
    }

    footer {
        height: 400px;
    }

}


