@import './reset';
@import './variables';

@import './header';
@import './content';
@import './footer';

body {
    font-family: $main-font;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(180deg, #131317 -60.19%, rgba(65, 66, 99, 0.09) 100%), url(../assets/img/bg.png);
    background-position-y: center;
}

.container {
    max-width: 1440px;
    margin: 0px auto;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

@import './responsive';